@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 30 24% 95%;
    /* #f6f4f0 */
    --foreground: 20 24% 22%;
    /* #54443a */
    --card: 30 24% 95%;
    /* #f6f4f0 */
    --card-foreground: 20 24% 22%;
    /* #54443a */
    --popover: 30 24% 95%;
    /* #f6f4f0 */
    --popover-foreground: 20 24% 22%;
    /* #54443a */
    --primary: 27 34% 53%;
    /* #a4886b */
    --primary-foreground: 30 24% 95%;
    /* #f6f4f0 */
    --secondary: 33 25% 92%;
    /* #efece5 */
    --secondary-foreground: 20 24% 22%;
    /* #54443a */
    --muted: 32 29% 83%;
    /* #dfd7c9 */
    --muted-foreground: 27 34% 53%;
    /* #a4886b */
    --accent: 33 31% 72%;
    /* #cabda7 */
    --accent-foreground: 20 24% 22%;
    /* #54443a */
    --destructive: 20 19% 15%;
    /* #2d231d */
    --destructive-foreground: 30 24% 95%;
    /* #f6f4f0 */
    --border: 27 34% 53%;
    /* #a4886b */
    --input: 32 29% 83%;
    /* #dfd7c9 */
    --ring: 27 34% 53%;
    /* #a4886b */
  }

  .dark:root {
    --background: 30 24% 95%;
    /* #f6f4f0 */
    --foreground: 20 24% 22%;
    /* #54443a */
    --card: 30 24% 95%;
    /* #f6f4f0 */
    --card-foreground: 20 24% 22%;
    /* #54443a */
    --popover: 30 24% 95%;
    /* #f6f4f0 */
    --popover-foreground: 20 24% 22%;
    /* #54443a */
    --primary: 27 34% 53%;
    /* #a4886b */
    --primary-foreground: 30 24% 95%;
    /* #f6f4f0 */
    --secondary: 33 25% 92%;
    /* #efece5 */
    --secondary-foreground: 20 24% 22%;
    /* #54443a */
    --muted: 32 29% 83%;
    /* #dfd7c9 */
    --muted-foreground: 27 34% 53%;
    /* #a4886b */
    --accent: 33 31% 72%;
    /* #cabda7 */
    --accent-foreground: 20 24% 22%;
    /* #54443a */
    --destructive: 20 19% 15%;
    /* #2d231d */
    --destructive-foreground: 30 24% 95%;
    /* #f6f4f0 */
    --border: 27 34% 53%;
    /* #a4886b */
    --input: 32 29% 83%;
    /* #dfd7c9 */
    --ring: 27 34% 53%;
    /* #a4886b */
  }
}